{% extends "webllm/base.html" %}
{% load static %}


{% block extended_style %}
<style>
.loading-icon-main {
  padding-top: 200px;
  margin-left: auto;
  margin-right: auto;
  display: block;
}
.loading-icon {
  padding-top: 100px;
  padding-bottom: 100px;
  margin-left: auto;
  margin-right: auto;
  display: block;
}
.result-bundle {
  border: 1px solid lightgray; 
  border-radius: 10px;
  padding: 10px;
}
.result-selected {
  border: 2px solid red;
}
.btn-clicked {
  background: #ffc0cb !important;
}
.img-small {
  height: 250px;
}
</style>
{% endblock extended_style %}


{% block content %}
<!-- Add pagination controls -->
<nav aria-label="Page navigation example">
  <ul class="pagination justify-content-center">
    {% comment %}
    <li class="page-item {% if not runs.has_previous %}disabled{% endif %}">
      <a class="page-link" href="?page=1" {% if not runs.has_previous %}tabindex="-1" aria-disabled="true"{% endif %}>&laquo; first</a>
    </li>
    {% endcomment %}
    <li class="page-item {% if not runs.has_previous %}disabled{% endif %}">
      {% if runs.has_previous %}
      <a class="page-link" href="?page={{ runs.previous_page_number }}">previous</a>
      {% else %}
      <span class="page-link" tabindex="-1" aria-disabled="true">previous</span>
      {% endif %}
    </li>

    {% for i in runs.paginator.page_range %}
    <li class="page-item {% if i == runs.number %}active{% endif %}">
      <a class="page-link" href="?page={{ i }}">{{ i }}</a>
    </li>
    {% endfor %}

    <li class="page-item {% if not runs.has_next %}disabled{% endif %}">
      {% if runs.has_next %}
      <a class="page-link" href="?page={{ runs.next_page_number }}">next</a>
      {% else %}
      <span class="page-link" tabindex="-1" aria-disabled="true">next</span>
      {% endif %}
    </li>
    {% comment %}
    <li class="page-item {% if not runs.has_next %}disabled{% endif %}">
      <a class="page-link" href="?page={{ runs.paginator.num_pages }}" {% if not runs.has_next %}tabindex="-1" aria-disabled="true"{% endif %}>last &raquo;</a>
    </li>
    {% endcomment %}
  </ul>
</nav>



{% for run in runs %}
<h4 class="mb-3">{{ run.user_input }} <small><a href="{% url 'llm_history' uuid_param=run.session %}"> [View details]</a></small></h4>
<div class="row pb-5">
  <div class="col-sm-3">
    <img src={{ run.images.0.image.url }} class="img-fluid">
  </div>
  <div class="col-sm-3">
    <img src={{ run.images.1.image.url }} class="img-fluid">
  </div>
  <div class="col-sm-3">
    <img src={{ run.images.2.image.url }} class="img-fluid">
  </div>
  <div class="col-sm-3">
    <img src={{ run.images.3.image.url }} class="img-fluid">
  </div>

</div>
{% endfor %}

<!-- Add pagination controls -->
<nav aria-label="Page navigation example">
  <ul class="pagination justify-content-center">
    {% comment %}
    <li class="page-item {% if not runs.has_previous %}disabled{% endif %}">
      <a class="page-link" href="?page=1" {% if not runs.has_previous %}tabindex="-1" aria-disabled="true"{% endif %}>&laquo; first</a>
    </li>
    {% endcomment %}
    <li class="page-item {% if not runs.has_previous %}disabled{% endif %}">
      {% if runs.has_previous %}
      <a class="page-link" href="?page={{ runs.previous_page_number }}">previous</a>
      {% else %}
      <span class="page-link" tabindex="-1" aria-disabled="true">previous</span>
      {% endif %}
    </li>

    {% for i in runs.paginator.page_range %}
    <li class="page-item {% if i == runs.number %}active{% endif %}">
      <a class="page-link" href="?page={{ i }}">{{ i }}</a>
    </li>
    {% endfor %}

    <li class="page-item {% if not runs.has_next %}disabled{% endif %}">
      {% if runs.has_next %}
      <a class="page-link" href="?page={{ runs.next_page_number }}">next</a>
      {% else %}
      <span class="page-link" tabindex="-1" aria-disabled="true">next</span>
      {% endif %}
    </li>
    {% comment %}
    <li class="page-item {% if not runs.has_next %}disabled{% endif %}">
      <a class="page-link" href="?page={{ runs.paginator.num_pages }}" {% if not runs.has_next %}tabindex="-1" aria-disabled="true"{% endif %}>last &raquo;</a>
    </li>
    {% endcomment %}
  </ul>
</nav>

{% endblock content %}


{% block scripts %}
<script>
</script>
{% endblock scripts %}
