{% extends "webllm/base.html" %}
{% load static %}


{% block extended_style %}
<style>
body {
/*  min-width: 1400px;
  width: auto !important;
  width: 1400px;*/
}
#research-text {
  line-height: 1;
}
.thank-you-div {
  padding-top: 150px;
}
#final-box {
  border: 1px solid lightgray; 
}
#final-box .feedback-group {
  border: none;
}
#final-rating {
  /*border: 1px solid lightgray; */
  height: 320px;
}
.full-height-div {
  height: 100vh;
}
.btn-modal {
  z-index: 300;
  position: absolute;
  top: 10px;
  right: 10px;
}
.temporary-parents {
  border: 1px solid lightgray; 
  height: 320px;
}
#btn-finish {
  margin-left: 10px;
}
.backend-error {
  padding-top: 100px;
  padding-bottom: 100px;
}
.image-error {
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 100px;
  padding-bottom: 150px;
}
#attributes-loading-gif {
  height: 100vh;
  padding-top: 150px;
  padding-bottom: 150px;
  color: gray;
}
.image-loading-gif {
  padding-top: 100px;
  color: gray;
}
.loading-icon-main {
  padding-top: 20px;
  margin-left: auto;
  margin-right: auto;
  display: block;
}
.loading-icon {
  padding-top: 50px;
  padding-bottom: 150px;
  margin-left: auto;
  margin-right: auto;
  display: block;
}
.feedback-group {
  border: 1px solid lightgray; 
  padding: 10px;
}
.result-bundle {
  border: 1px solid lightgray; 
  /*border-radius: 10px;*/
  padding: 10px;
}
.result-selected {
  border: 2px solid #28a745;
  /*background-color: green;*/
  background-color: rgba(40, 167, 69, 0.3);
}
.btn-good.btn-clicked {
  color: #fff;
  background-color: #28a745;
  border-color: #28a745;
}
.btn-good.btn-clicked:hover {
  color: #fff;
  background-color: #218838;
  border-color: #1e7e34;
}
.btn-bad.btn-clicked {
  color: #fff;
  background-color: #dc3545;
  border-color: #dc3545;
}
.btn-bad.btn-clicked:hover {
  color: #fff;
  background-color: #c82333;
  border-color: #bd2130;
}
</style>
{% endblock extended_style %}


{% block content %}

<div id="prompt-results"></div>


<div class="row justify-content-md-center h-100">
  <div class="col-xl-5 d-flex flex-column align-items-center">
    <div class="form-group text-center my-auto">
      {% csrf_token %}
      <img src="{% static 'img/logo/logo.png' %}" height="80" class="mb-4" alt=""/>
      <p class="text-muted mt-2 pb-5">SCAPE helps you explore novel ideas in conceptual architecture<br>while improving aspects that matter to you.</p>
      <h4 class="pt-2 pb-4">Start with a few words describing your architectural concept</h4>

      <div class="input-group mb-5">
        <input type="text" id="user-input" class="form-control" placeholder="A seashell inspired building" required maxlength="300" autofocus>
        <div class="input-group-append">
          <button id="btn-submit" class="btn btn-primary" type="button" disabled>Submit</button>
        </div>
      </div>

    </div>
    <div class="text-center mt-5 mb-3">
      <small id="research-text" class="text-muted">
        The data and images generated will be used for research purposes. Please contact <a href="mailto:s.lim@cs.ucl.ac.uk?subject=SCAPE">s.lim@cs.ucl.ac.uk</a> for any questions.
      </small>
    </div>
  </div>
</div>

<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-xl" role="document">
    <div class="modal-content">
      <div class="modal-header">
        {# <h5 class="modal-title" id="myModalLabel">Modal title</h5> #}
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <img id="large-image-src" class="img-fluid mx-auto d-block"/>
      </div>
      {# <div class="modal-footer"> #}
        {# <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button> #}
      {# </div> #}
    </div>
  </div>
</div>


{% endblock content %}


{% block scripts %}
<script type="text/javascript" src="{% static "js/csrf.min.js" %}"></script>
<script>
var userInput = "";
var ScrollTopSpeed = 1000;
var selectedResultList = [];
var userSession = "";
var userIteration = 0;
var currentIterationResults = {};
var attributesDictionary = {};
var canSelectImage = false;
var canSelectFinalImage = false;
var DelaySeconds = 10;

var finalSelectedImageID = "";

var backendErrorHtml = '<div class="backend-error text-center"><p>There has been an error.</p><p>Please try again later.</p></div>'
var dalleImageErrorHtml = '<div class="image-error text-center"><p>Unable to generate image: DALL·E 3 error</p><p>Please try again later.</p></div>'
var parentIdStub = "result-"
var iterationIdStub = "iteration-"

var avoidAttributeValues = {
  "architectural style": [],
  "site": [],
  "colors": [],
  "lighting": [],
  "shape/form": [],
  "materials": []
};

$(document).ready(function() {

  $('#user-input').on('input paste keyup', function(e) {
    var textarea_value = $("#user-input").val();

    if (textarea_value.length >= 4) { /* if(textarea_value != '') { */
      $('#btn-submit').attr('disabled', false);
    } else {
      $('#btn-submit').attr('disabled', true);
    }

  });


  $('#user-input').on('input paste keydown', function(e) {
    if ((e.which === 13) && !$('#btn-submit').prop('disabled')) {
      $("#btn-submit").click();
    }
  });

  $('#prompt-results').on('click', '#submit-final-feedback', function() {
    $('#submit-final-feedback').attr('disabled', true);
    $('#user-details').attr('disabled', true);
    $('#user-comments').attr('disabled', true);
    $('.feedback-btn').attr('disabled', true);

    final = attributesDictionary[finalSelectedImageID];

    final_image = $('#' + parentIdStub + finalSelectedImageID + " img").attr('src');
    [final_feedback, final_positives, final_negatives, final_positive_keys, final_negative_keys] = get_feedback_from_id(finalSelectedImageID, final);

    $.ajax({
      type: 'POST',
      data : {
        'session': userSession,
        'user_input': userInput,
        'iteration': userIteration,
        'final_id': finalSelectedImageID,
        'final_json': JSON.stringify(final),
        'final_image': final_image,
        'final_feedback': JSON.stringify(final_feedback),
        'current_iteration_results': JSON.stringify(currentIterationResults),
        'comments': $('#user-comments').val(),
        'contact': $('#user-details').val(),
      },
      url: "{% url 'ajax_final_feedback' %}",
      complete: function(jqXHR, textStatus) {
        if (textStatus == 'success') {
          selectedResultList = [];
          currentIterationResults = {};
          $('.result-bundle').removeClass('result-selected');
        } 
      }
    });


    var old_height = $(document).height(); /* store document height before modifications */
    var old_scroll = $(window).scrollTop(); /* remember the scroll position */

    $('#prompt-results').prepend('<div class="text-center full-height-div"><div class="thank-you-div">Thank you for participating in this study. <a href="{% url 'llm_landing' %}" class="ml-3 btn btn-success" role="button">Generate more images!</a></div></div>');

    $(document).scrollTop(old_scroll + $(document).height() - old_height); /* restore "scroll position" */

    scrollToTop();
  })


  $('#prompt-results').on('click', '#btn-finish', function() { 
    canSelectFinalImage = true;
    var old_height = $(document).height(); /* store document height before modifications */
    var old_scroll = $(window).scrollTop(); /* remember the scroll position */

    $('.continue-or-done-buttons-div').empty();

    $('#' + iterationIdStub + userIteration + '>.parents-div').append('<div id="final-box" class="col-12"><div class="row"><div id="final-rating" class="col-6 mt-3">Favourite image</div><div id="final-comment" class="col-6"></div></div></div>');

    // $('#' + iterationIdStub + userIteration + '>.crossover-btn-div').append('<div class="col-12 mt-2 mb-2 text-center"></div>');

    $('#' + iterationIdStub + userIteration + '>.crossover-instructions-div').append('<div class="col-12 text-center"><h4>Please select your favourite image from all the images below by clicking on it and rate the attributes.</h4></div>');

    $(document).scrollTop(old_scroll + $(document).height() - old_height); /* restore "scroll position" */
    scrollToTop();
  });


  $('#prompt-results').on('click', '#btn-continue', function() { 
    canSelectImage = true;

    var old_height = $(document).height(); /* store document height before modifications */
    var old_scroll = $(window).scrollTop(); /* remember the scroll position */

    $('.continue-or-done-buttons-div').empty();

    $('#' + iterationIdStub + userIteration + '>.parents-div').append('<div id="temp-1" class="temporary-parents col-6">Image 1</div><div id="temp-2" class="temporary-parents col-6">Image 2</div>');

    $('#' + iterationIdStub + userIteration + '>.crossover-btn-div').append('<div class="col-12 mt-2 mb-2 text-center"><button id="btn-crossover" type="submit" class="btn btn-primary btn-lg" disabled>Generate new images from feedback</button></div>');

    $('#' + iterationIdStub + userIteration + '>.crossover-instructions-div').append('<div class="col-12 text-center"><h4>Please select two images that you like most by clicking on them. Rate the attributes good or bad. We use this information to generate new images. You must pick two images before we can proceed. You can pick images from any iteration.</h4></div>');

    $(document).scrollTop(old_scroll + $(document).height() - old_height); /* restore "scroll position" */
    scrollToTop();
  });


  $('#prompt-results').on('click', '.feedback-btn', function() {
    if ($(this).hasClass('btn-clicked')) {
      $(this).removeClass('btn-clicked');
    } else {
      $(this).parent().children().removeClass('btn-clicked'); /* clear the other button if it had been selected */
      $(this).addClass('btn-clicked');
    }
  })


  function addToExistingAttribute(dictionary){
    $.each( dictionary, function( key, value ) {
      if ($.inArray(value, existingAttributeValues[key]) === -1) { /* if not in array */
        existingAttributeValues[key].push(value);  
      }
    });
  }

  function sleep(ms) {
    return new Promise(resolve => setTimeout(resolve, ms));
  }

  async function showCrossoverButton(){

    $('#' + iterationIdStub + userIteration + '>.continue-or-done-buttons-div').append('<div class="col-12 mb-2 text-center"><button id="btn-continue" type="button" class="btn btn-primary btn-lg">Improve these images</button><button id="btn-finish" type="button" class="btn btn-success btn-lg">I\'m done!</button></div>');

    $('#' + iterationIdStub + userIteration).removeClass('full-height-div'); /* this is needed so that parents boxes can appear slowly */
  }

  async function getImage(current_id, attributes, delay){
   await sleep(delay*1000); 
   $.ajax({
    type: 'POST',
    data : {
      'session': userSession,
      'iteration': userIteration,
      'instance': current_id,
      'user_input': userInput,
      'attributes': attributes,
    },
    url: "{% url 'ajax_get_image' %}",
    complete: function(jqXHR, textStatus) {
      if (textStatus == 'success') {
        $("#image-loading-" + current_id).remove();
        if (jqXHR.responseJSON.status == 'OK'){

          $('#' + parentIdStub + current_id).prepend('<img src="' + jqXHR.responseJSON.result + '" class="img-fluid"/><button type="button" class="btn btn-secondary btn-modal"><i class="fas fa-search-plus"></i></button>');

          $('#' + parentIdStub + current_id).append('<div>' + jqXHR.responseJSON.revised_prompt + '</div>');

          currentIterationResults[current_id]["image_url"] = jqXHR.responseJSON.result;
          currentIterationResults[current_id]["prompt"] = jqXHR.responseJSON.prompt;
          currentIterationResults[current_id]["revised_prompt"] = jqXHR.responseJSON.revised_prompt;
        } else {

          $('#' + parentIdStub + current_id).prepend(dalleImageErrorHtml);

          /* to do set the error height to be the same as the image height, which will be the same as the width of the result bundle as it is a square image */

        }

        /* if all image-loading is gone, show crossover button */
        if ($('.image-loading-gif').length == 0){
          showCrossoverButton();
        }

      } 
    }
  });
 }



 $('#prompt-results').on('click', '.result-bundle', function() {
  if (canSelectImage){
    $(this).addClass('result-selected');

    currentSelectedItemID = $(this).attr('id').replace(parentIdStub, '');

    /* only add it if it is not already in the list */
    if ($.inArray(currentSelectedItemID, selectedResultList) == -1) {
      selectedResultList.push(currentSelectedItemID);

      while (selectedResultList.length > 2) {
        first_item = selectedResultList.shift();
        $('#' + parentIdStub + first_item).removeClass('result-selected');
        $('#feedback-iteration-' + userIteration + '-id-' + first_item).remove();
      }
      /* get the attributes of the selected item */
      var ratinghtml = createUserRatingTable(currentSelectedItemID);

      if ($('.temporary-parents').length == 2){
        $('#temp-1').replaceWith(ratinghtml);
        $('.temporary-parents').height($('#' + iterationIdStub + userIteration + ' > .parents-div').height());
      } else if ($('.temporary-parents').length == 1){
        $('#temp-2').replaceWith(ratinghtml);
      } else {
        $('#' + iterationIdStub + userIteration + '>.parents-div').append(ratinghtml);
      }
    }

    if (selectedResultList.length == 2){
      $('#btn-crossover').attr('disabled', false);
    }
  } else if (canSelectFinalImage){
    $('.result-selected').removeClass('result-selected');
    $(this).addClass('result-selected');

    if (finalSelectedImageID){
      $('#feedback-iteration-' + userIteration + '-id-' + finalSelectedImageID).remove();
      var replacement = true;
    } else {
      var replacement = false;
    }

    finalSelectedImageID = $(this).attr('id').replace(parentIdStub, '');

    var ratinghtml = createUserRatingTable(finalSelectedImageID);
    if (replacement){
      $('#final-box>.row').prepend(ratinghtml);
    } else {
      $('#final-rating').replaceWith(ratinghtml);
    }
    var commentHtml = '<div class="col-6"><div class="form-group mt-3"><label for="user-comments"><b>Please provide comments about your experience using this tool (optional)</b></label><textarea class="form-control" id="user-comments" rows="4"></textarea></div><div class="form-group"><label for="user-details"><b>Name and contact details (optional)</b></label><input type="text" class="form-control" id="user-details" placeholder=""></div><button id="submit-final-feedback" class="btn btn-primary">Submit</button></div>';
    $('#final-comment').replaceWith(commentHtml);
  }
});


 function get_feedback_from_id(parent_id, parent){
  feedback_list = $('#' + 'feedback-iteration-' + userIteration + '-id-' + parent_id).find('.user-feedback-attribute');
  parent_feedback = {}
  parent_positives = {}
  parent_negatives = {}
  parent_positive_keys = []
  parent_negative_keys = []
  $.each( feedback_list , function(){
    key = $(this).find('td:first-child').attr("class");
    key = key.replace("feedback-", "");
    key = key.replace("-", " ");
    if ($(this).find('.btn-good').hasClass('btn-clicked')){
      parent_feedback[key] = 1;
      parent_positives[key] = parent[key];
      parent_positive_keys.push(key);
    } else if ($(this).find('.btn-bad').hasClass('btn-clicked')){
      parent_feedback[key] = -1;
      /* find out the value to add to the avoid list */
      if ($.inArray(parent[key], avoidAttributeValues[key]) == -1) { /* only add if it is not already there */
        avoidAttributeValues[key].push(parent[key]); 
      }
      parent_negatives[key] = parent[key];
      parent_negative_keys.push(key);
    } else {
      parent_feedback[key] = 0;
    }
  })
  return [parent_feedback, parent_positives, parent_negatives, parent_positive_keys, parent_negative_keys];
}

function scrollToTop(){
    // var n = $(document).height();
    $('html, body').animate({scrollTop: 0}, ScrollTopSpeed);
  }

  function formatAttributes(child){
    newhtml = '<table class="table table-sm table-striped mt-3">';
    $.each( child, function( key, value ) {
      keyClass = key.replace(' ', '-');
      newhtml += '<tr><td><b>' + key + '</b></td><td>' + value + '</td></tr>'
    });
    newhtml += '</table>'
    return newhtml;
  }

  function addImagesToPanel(childList){

    var old_height = $(document).height(); /* store document height before modifications */
    var old_scroll = $(window).scrollTop(); /* remember the scroll position */

    $("#prompt-results").prepend('<div id="' + iterationIdStub + userIteration + '"><div class="row crossover-instructions-div"></div><div class="row crossover-btn-div"></div><div class="row parents-div"></div><div class="row continue-or-done-buttons-div"></div><div class="row images-div"></div></div>');

    $('#' + iterationIdStub + userIteration).addClass('full-height-div'); /* this is needed to push the other items below */

    $(document).scrollTop(old_scroll + $(document).height() - old_height); /* restore "scroll position" */

    // showCrossoverButton();

    childList.forEach(function (child, index) {
      current_id = userIteration.toString() + '-' + index.toString();

      imageLoading = '<div id="image-loading-' + current_id + '" class="image-loading-gif mx-auto text-center">Generating image<img class="img-fluid loading-icon" src="{% static "img/loading.gif" %}" width="50" height="50"/></div>';

      getImage(current_id, JSON.stringify(child), index*DelaySeconds);

      attributesDictionary[current_id] = child;

      $('#' + iterationIdStub + userIteration + '>.images-div').append('<div class="result-bundle col-3" id="' + parentIdStub + current_id + '">' + imageLoading + '<div>' + formatAttributes(child) + '</div></div>');

      /* to do: set the loading height to be the same as the image height, which will be the same as the width of the result bundle as it is a square image */

      $(document).scrollTop(old_scroll + $(document).height() - old_height); /* restore "scroll position" */


      currentIterationResults[current_id] = {}
      currentIterationResults[current_id]['item_json'] = child
    })
    scrollToTop();
    setTimeout(removeGeneratingAttributesSpinner, ScrollTopSpeed);
    // removeGeneratingAttributesSpinner();
  }

  $('#prompt-results').on('click', '.btn-modal', function() {
    var url = $(this).prev('img').attr('src');
    $('#large-image-src').attr('src', url);
    $('#myModal').modal('show');
  });


  function addGeneratingAttributesSpinner(){
    checkSpinnerStillThere();
    var old_height = $(document).height(); /* store document height before modifications */
    var old_scroll = $(window).scrollTop(); /* remember the scroll position */

    $('#prompt-results').prepend('<div id="attributes-loading-gif" class="text-center">Generating attributes<img class="img-fluid loading-icon-main" src="{% static "img/loading.gif" %}" width="50" height="50"/></div>');

    $(document).scrollTop(old_scroll + $(document).height() - old_height); /* restore "scroll position" */

    scrollToTop();
  }


  async function checkSpinnerStillThere(){
    var waitTimeSeconds = 30;
    await sleep(waitTimeSeconds * 1000);
    if ($('#attributes-loading-gif').length > 0){
      $('#attributes-loading-gif').empty();
      $('#attributes-loading-gif').prepend('ChatGPT error, please refresh the page and try again.');
    }
  }

  function removeGeneratingAttributesSpinner(){
    $('#attributes-loading-gif').remove();
  }


  $('#prompt-results').on('click', '#btn-crossover', function() {
   $('.feedback-btn').attr('disabled', true);
   $('#' + iterationIdStub + userIteration + '>.crossover-instructions-div').empty();
   $('#' + iterationIdStub + userIteration + '>.crossover-instructions-div').append('<div class="col-12 text-center"><hr><h3>Iteration ' + userIteration + '</h3></div>');
    // $('.crossover-instructions-div').empty();
    // $('.continue-or-done-buttons-div').empty();
    $('#btn-crossover').remove();
    canSelectImage = false;

    addGeneratingAttributesSpinner();

    parent1_id = selectedResultList[0];
    parent1 = attributesDictionary[parent1_id];
    parent1_image = $('#' + parentIdStub + parent1_id + " img").attr('src');
    [parent1_feedback, parent1_positives, parent1_negatives, parent1_positive_keys, parent1_negative_keys] = get_feedback_from_id(parent1_id, parent1);

    parent2_id = selectedResultList[1];
    parent2 = attributesDictionary[parent2_id];
    parent2_image = $('#' + parentIdStub + parent2_id + " img").attr('src');
    [parent2_feedback, parent2_positives, parent2_negatives, parent2_positive_keys, parent2_negative_keys] = get_feedback_from_id(parent2_id, parent2);

    $.ajax({
      type: 'POST',
      data : {
        'session': userSession,
        'iteration': userIteration,
        'parent1_id': parent1_id,
        'parent1': JSON.stringify(parent1),
        'parent1_image': parent1_image,
        'parent1_feedback': JSON.stringify(parent1_feedback),
        'parent1_positives': JSON.stringify(parent1_positives),
        'parent1_negatives': JSON.stringify(parent1_negatives),
        'parent1_positive_keys': JSON.stringify(parent1_positive_keys),
        'parent1_negative_keys': JSON.stringify(parent1_negative_keys),
        'parent2_id': parent2_id,
        'parent2': JSON.stringify(parent2),
        'parent2_image': parent2_image,
        'parent2_feedback': JSON.stringify(parent2_feedback),
        'parent2_positives': JSON.stringify(parent2_positives),
        'parent2_negatives': JSON.stringify(parent2_negatives),
        'parent2_positive_keys': JSON.stringify(parent2_positive_keys),
        'parent2_negative_keys': JSON.stringify(parent2_negative_keys),
        'user_input': userInput,
        'avoid_values': JSON.stringify(avoidAttributeValues),
        'current_iteration_results': JSON.stringify(currentIterationResults),
      },
      url: "{% url 'ajax_crossover' %}",
      complete: function(jqXHR, textStatus) {
        if (textStatus == 'success') {
          // removeGeneratingAttributesSpinner();
          if (jqXHR.responseJSON.status == 'OK') {
            userIteration += 1;
            selectedResultList = [];
            currentIterationResults = {};
            $('.result-bundle').removeClass('result-selected');
            addImagesToPanel(jqXHR.responseJSON.children_list);
          } else {
            $('#prompt-results').prepend(backendErrorHtml);
          }
        } 
      }
    });
  });


  function createUserRatingTable(itemID){

    var imageUrl = $('#' + parentIdStub + itemID + " img").attr('src');

    var item = attributesDictionary[itemID];
    newhtml = '<div id="feedback-iteration-' + userIteration + '-id-' + itemID + '" class="col-6 feedback-group"><div class="row"><div class="col-4"><img src="' + imageUrl + '" class="img-fluid"/></div><div class="col-8"><div class="table-responsive"><table class="table table-sm table-striped mx-auto"><thead><tr><th></th><th></th><th>Your feedback</th></tr></thead><tbody>';
    $.each( item, function( key, value ) {
      keyClass = key.replace(' ', '-');
      newhtml += '<tr class="user-feedback-attribute"><td class="feedback-' + keyClass + '"><b>' + key + '</b></td><td>' + value + '</td><td><button class="btn btn-sm btn-outline-secondary feedback-btn btn-good">Good</button> <button class="btn btn-sm btn-outline-secondary feedback-btn btn-bad">Bad</button></td></tr>'
    });
    newhtml += '</tbody></table></div></div></div></div>'
    return newhtml;
  }


  $('#btn-submit').on('click', function(e){ 
    userInput = $('#user-input').val();

    addGeneratingAttributesSpinner();

    $("body").css("min-width", "1400px");

    $('#user-input').attr('disabled', true);
    $('#btn-submit').attr('disabled', true);
    $.ajax({
      type: 'POST',
      data : {
        'user_input': userInput,
        'iteration': userIteration,
      },
      url: "{% url 'ajax_process_user_input' %}",
      complete: function(jqXHR, textStatus) {
        if (textStatus == 'success') {
          if (jqXHR.responseJSON.status == 'OK'){
            userSession = jqXHR.responseJSON.session;
            addImagesToPanel(jqXHR.responseJSON.result);
          } else {
            $('#prompt-results').prepend(backendErrorHtml);
          }
        }
      }
    });
  });

});
</script>
{% endblock scripts %}
